<div class="row">
    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>
</div>
<div class="row">
    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>
</div>
<div class="row">
    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>
</div>
<div class="row">
    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <eportfolio-flip-container-directive background-front="{{ backgroundFront }}"
                                         background-back="{{ backgroundBack }}">
    </eportfolio-flip-container-directive>

    <div class="flip-container flat" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <!-- return.png image is from: http://faredwordeahibur.blogspot.ch/2011/06/arrow-clip-art-free.html -->
            <div class="front" style="background: #7cbc0a url(assets/img/icons/return.png) 0 -11px no-repeat;" >
            </div>
            <div class="back" style="background: #f8f8f8;" >
                <div class='vertical-horizontal-centered'>
                    <a ui-sref='app.overview' class='link-black'>Zurück</a>
                </div>
            </div>
        </div>
    </div>
</div>