<div class="overview">
    <h1>Wetter</h1>
    <div>Das Wetter der Schweiz im Ende 2015 und Anfang 2016</div>
    <div class="row">
        <eportfolio-cloud-directive cloud-color="#7cbc0a"
                                    cloud-container-color=";background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);"
                                    title="Portfolio"
                                    description="Finden Sie alle bearbeiteten Bilder."
                                    link="app.portfolio">
        </eportfolio-cloud-directive>
        <eportfolio-img-home-directive source="assets/img/weather/sun.jpg">
        </eportfolio-img-home-directive>
        <eportfolio-cloud-directive cloud-color="#b5c6d0"
                                    cloud-container-color=" #f2f6f8; /* Old browsers */background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);"
                                    title="Film"
                                    description="Sie finden hier unseren selbstgemacht und -bearbeiteten Film."
                                    link="app.film">
        </eportfolio-cloud-directive>
    </div>
    <div class="row">
        <eportfolio-img-home-directive source="assets/img/weather/storm.jpg">
        </eportfolio-img-home-directive>
        <eportfolio-cloud-directive cloud-color="#fccd4d"
                                    cloud-container-color="#fceabb; /* Old browsers */background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);"
                                    title="Detail"
                                    description="Unter Details sind die Überlegeungen zu den Bearbeitungen zu finden. "
                                    link="app.detail">
        </eportfolio-cloud-directive>
        <eportfolio-img-home-directive source="assets/img/weather/snow.jpg">
        </eportfolio-img-home-directive>
    </div>
    <div class="row">
        <eportfolio-cloud-directive cloud-color="#ff3019"
                                    cloud-container-color=" #ff3019;background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);"
                                    title="Kontakt"
                                    description="Kontaktieren Sie uns. Finden Sie alle Infos zur Kontaktaufnahme."
                                    link="app.contact">
        </eportfolio-cloud-directive>
        <eportfolio-img-home-directive source="assets/img/weather/rain.jpg">
        </eportfolio-img-home-directive>
        <eportfolio-cloud-directive cloud-color="#a0d8ef"
                                    cloud-container-color=";background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);"
                                    title="Impressum"
                                    description="Infos über das Impressum dieser Website."
                                    link="app.impressum">
        </eportfolio-cloud-directive>
    </div>
</div>