<div class="overview">
    <h1>Wetter</h1>
    <div>Das Wetter der Schweiz im Ende 2015 und Anfang 2016 </div>
    <div class="row">
        <eportfolio-cloud-directive cloud-color="#999933"
                                    cloud-container-color="#999933"
                                    title="Portfolio"
                                    description="Finden Sie alle bearbeiteten Bilder."
                                    link="app.portfolio">
        </eportfolio-cloud-directive>
        <eportfolio-img-home-directive source="assets/img/weather/sun.jpg">
        </eportfolio-img-home-directive>
        <eportfolio-cloud-directive cloud-color="#b1b1b1"
                                    cloud-container-color="#b1b1b1"
                                    title="Film"
                                    description="Sie finden hier unseren selbstgemacht und -bearbeiteten Film."
                                    link="app.film">
        </eportfolio-cloud-directive>
    </div>
    <div class="row">
        <eportfolio-img-home-directive source="assets/img/weather/storm.jpg">
        </eportfolio-img-home-directive>
        <eportfolio-cloud-directive cloud-color="#ff9933"
                                    cloud-container-color="#ff9933"
                                    title="Detail"
                                    description="Unter Details finden Sie die Überlegungen bei den Bildbearbeitungen. "
                                    link="app.detail">
        </eportfolio-cloud-directive>
        <eportfolio-img-home-directive source="assets/img/weather/snow.jpg">
        </eportfolio-img-home-directive>
    </div>
    <div class="row">
        <eportfolio-cloud-directive cloud-color="red"
                                    cloud-container-color="red"
                                    title="Kontakt"
                                    description="Kontaktieren Sie uns. Finden Sie alle Informationen zur Kontaktfindung."
                                    link="app.contact">
        </eportfolio-cloud-directive>
        <eportfolio-img-home-directive source="assets/img/weather/rain.jpg">
        </eportfolio-img-home-directive>
        <eportfolio-cloud-directive cloud-color="#d6f0fd"
                                    cloud-container-color="#d6f0fd"
                                    title="Impressum"
                                    description="Informationen über das Impressum dieser Website."
                                    link="app.impressum">
        </eportfolio-cloud-directive>
    </div>
</div>